spring:
  main:
    web-application-type: reactive
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins: "http://localhost:4200"
                allowed-methods: "*"
                allowed-headers: "*"
                allow-credentials: true
          routes:
            - id: auth-service
              uri: http://localhost:8083
              predicates:
                - Path=/collacode/v1/auth/**
            - id: doc-service
              uri: http://localhost:8082
              predicates:
                - Path=/collacode/v1/doc/**
            - id: websocket_route
              uri: http://localhost:8082
              predicates:
                - Path=/ws/**
              filters:
                - name: AuthFilter
                  args:
                    authServiceUrl: http://localhost:8083/collacode/v1/auth/validate
server:
  port: 8084

url:
  auth: http://localhost:8083/collacode/v1/auth
  document: http://localhost:8082/collacode/v1/doc